
.v-ripple__container {
  color: inherit;

  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  contain: strict;
}

.v-ripple__animation {
  color: inherit;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: currentColor;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  opacity: 0.25;
  animation: ripple linear;
  animation-duration: 0.5s;
}
.v-ripple__shrink {
  transition: 0.25s;
}
.v-ripple__shrink[data-pressed='true'] {
  transform: scale(0.90);
}
@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    background-color: transparent;
  }
}
